<!DOCTYPE html>
<html lang="en">
<head>

	<title>Olympus Shortcodes</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

</head>
<body class="page-has-left-panels page-has-right-panels">

{{> preloaders/preloader-main }}

{{> headers-navigations/left-panel }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel }}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-BP page-title="SHORTCODES"}}

{{> headers-navigations/header-BP-responsive }}

<div class="header-spacer"></div>

<!-- Main Content -->

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Color Palette</h6>
				</div>
				<div class="ui-block-content">
					<div class="bg-secondary" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">3f4257</div>
					<div class="bg-grey" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">515365</div>
					<div class="bg-grey-light" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">888da8</div>
					<div class="bg-grey-lighter" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">9a9fbf</div>
					<div class="bg-primary" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">ff5e3a</div>
					<div class="bg-purple" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">7c5ac2</div>
					<div class="bg-blue" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">38a9ff</div>
					<div class="bg-breez" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">08ddc1</div>
					<div class="bg-breez-light" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">2aebcb</div>
					<div class="bg-yellow" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">ffdc1b</div>
					<div class="bg-smoke" style="color: #fff; padding: 35px; display: inline-block; font-size: 10px; font-weight: bold; margin-right: -4px;">e6ecf5</div>
				</div>

				<div class="ui-block-content">
					<h1>Hello, world! - 40px</h1>
					<h2>Hello, world! - 32px</h2>
					<h3>Hello, world! - 28px</h3>
					<h4>Hello, world! - 22px</h4>
					<h5>Hello, world! - 16px</h5>
					<h6>Hello, world! - 14px</h6>
				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Button Versions</h6>
				</div>
				<div class="ui-block-content">
					<div class="row">
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-primary btn-lg">Big Button</a>
							<a href="#" class="btn btn-primary btn-md">Medium Button</a>
							<a href="#" class="btn btn-primary btn-md-2">Medium Button V2</a>
							<a href="#" class="btn btn-primary btn-sm">Small Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-secondary btn-lg">Big Button</a>
							<a href="#" class="btn btn-secondary btn-md">Medium Button</a>
							<a href="#" class="btn btn-secondary btn-md-2">Medium Button V2</a>
							<a href="#" class="btn btn-secondary btn-sm">Small Button</a>
						</div>
					</div>
					<div class="row">
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-purple btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-blue btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-breez btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-green btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-grey btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-grey-light btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-grey-lighter btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-breez-light btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-yellow btn-lg">Big Button</a>
						</div>
						<div class="col col-lg-3 col-md-6 col-sm-12 col-12">
							<a href="#" class="btn btn-smoke btn-lg btn-light-bg">Big Button</a>
						</div>
					</div>
				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Form Elements</h6>
				</div>
				<div class="ui-block-content">
					<div class="row">
						<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
							<div class="form-group label-floating is-empty">
								<label class="control-label">Default Input</label>
								<input class="form-control" type="text" placeholder="">
							</div>
							<div class="form-group label-floating has-success">
								<label class="control-label">Success Input</label>
								<input type="text" class="form-control form-control-success">
							</div>
							<div class="form-group label-floating has-error">
								<label class="control-label">Error Input</label>
								<input type="text" class="form-control form-control-danger">
							</div>
							<fieldset disabled>
								<div class="form-group has-disabled">
									<input type="text" class="form-control" placeholder="Disabled input">
								</div>
							</fieldset>

							<label class="control-label">Dropdown Field</label>
							<fieldset class="form-group">
								<select class="selectpicker form-control">
									<option value="AL">Alabama</option>
									<option value="2">Oklahoma</option>
									<option value="WY">Wyoming</option>
								</select>
							</fieldset>

							<h6>Completed Input V2</h6>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="James Spiegel">
							</div>

							<div class="form-group with-icon label-floating is-empty">
								<label class="control-label">Input with Icon</label>
								<input class="form-control" type="text">
								<i class="fab fa-facebook-f c-facebook" aria-hidden="true"></i>
							</div>

							<label class="control-label">Calendar Field</label>
							<div class="form-group date-time-picker">
								<input type="text" name="datetimepicker" value="10/24/1984" />
								<span class="input-group-addon">
									<svg class="olymp-month-calendar-icon icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12 mb30">
							<h6>Switch On</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							<div class="togglebutton">
								<label>
									<input type="checkbox" checked="">
								</label>
							</div>
						</div>

						<div class="col col-lg-6 col-md-6 col-sm-12 col-12 mb30">
							<h6>Switch Off</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							<div class="togglebutton">
								<label>
									<input type="checkbox">
								</label>
							</div>
						</div>
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12 mb30">
							<h6>Checkboxes</h6>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes">
									Unchecked
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes" checked>
									Checked
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes" disabled>
									Disabled Unchecked
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes" disabled checked>
									Disabled Checked
								</label>
							</div>
						</div>
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12 mb30">
							<h6>Radio Buttons</h6>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									Radio is off
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" checked>
									Radio is on
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadiosDisabled" disabled>
									Disabled Radio is off
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadiosDisabled" checked disabled>
									Disabled Radio is on
								</label>
							</div>
						</div>

						<div class="col col-lg-6 col-md-12 col-sm-12 col-12 mb-30">
							<h6>Tooltips</h6>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
								Tooltip on top
							</button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
								Tooltip on right
							</button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
								Tooltip on left
							</button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
								Tooltip on bottom
							</button>
						</div>

						<div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12 mb30">
							<h6>Popovers</h6>
							<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
								Popover on top
							</button>
							<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
								Popover on right
							</button>
							<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
								Popover on bottom
							</button>
							<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
								Popover on left
							</button>
						</div>

					</div>

					<div class="row medium-padding80">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb30">
							<div class="range-slider range-slider--primary">
								<input type="text" class="range-slider-js" name="example_name" value="" />
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb30">
							<div class="range-slider range-slider--red">
								<input type="text" class="range-slider-js" name="example_name" value="" />
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb30">
							<div class="range-slider range-slider--green">
								<input type="text" class="range-slider-js" name="example_name" value="" />
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb30">
							<div class="range-slider range-slider--blue">
								<input type="text" class="range-slider-js" name="example_name" value="" />
							</div>
						</div>
					</div>

					<div class="row mb30">
						<div class="col col-lg-12 col-12">
							<h6>Upload Buttons</h6>
						</div>
						<div class="col col-lg-3 col-md-3 col-sm-12 col-12">
							<div class="file-upload">
								<label for="upload" class="file-upload__label">Upload Button</label>
								<input id="upload" class="file-upload__input" type="file" name="file-upload">
							</div>
						</div>
						<div class="col col-lg-3 col-md-3 col-sm-12 col-12">
							<div class="file-upload">
								<label for="upload" class="file-upload__label bg-blue">Upload Button</label>
								<input id="upload3" class="file-upload__input" type="file" name="file-upload">
							</div>
						</div>
						<div class="col col-lg-3 col-md-3 col-sm-12 col-12">
							<div class="file-upload">
								<label for="upload" class="file-upload__label bg-breez">Upload Button</label>
								<input id="upload1" class="file-upload__input" type="file" name="file-upload">
							</div>
						</div>
						<div class="col col-lg-3 col-md-3 col-sm-12 col-12">
							<div class="file-upload">
								<label for="upload" class="file-upload__label bg-green">Upload Button</label>
								<input id="upload2" class="file-upload__input" type="file" name="file-upload">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col col-lg-12 col-12">
							<h6>Quantity Input Field</h6>
						</div>

						<div class="col col-lg-3 col-md-6 col-sm-12 col-12 mb30">
							<div class="input-group number-spinner">
								<span class="input-group-btn data-dwn input-group-prepend">
									<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
								</span>
								<input type="text" class="form-control text-center" value="1" min="0" max="100">
								<span class="input-group-btn data-up input-group-append">
									<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
								</span>
							</div>
						</div>

						<div class="col col-lg-3 col-md-6 col-sm-12 col-12 mb30">
							<div class="input-group number-spinner number-spinner--secondary">
								<span class="input-group-btn data-dwn input-group-prepend">
									<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
								</span>
								<input type="text" class="form-control text-center" value="-10" min="-50" max="50">
								<span class="input-group-btn data-up input-group-append">
									<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
								</span>
							</div>
						</div>

						<div class="col col-lg-3 col-md-6 col-sm-12 col-12 mb30">
							<div class="input-group number-spinner number-spinner--breez">
								<span class="input-group-btn data-dwn input-group-prepend">
									<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
								</span>
								<input type="text" class="form-control text-center" value="10" min="-40" max="40">
								<span class="input-group-btn data-up input-group-append">
									<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
								</span>
							</div>
						</div>

						<div class="col col-lg-3 col-md-6 col-sm-12 col-12 mb30">
							<div class="input-group number-spinner number-spinner--green">
								<span class="input-group-btn data-dwn input-group-prepend">
									<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
								</span>
								<input type="text" class="form-control text-center" value="5" min="0" max="10">
								<span class="input-group-btn data-up input-group-append">
									<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Forms Validated</h6>
				</div>
				<div class="ui-block-content">
					<form class="needs-validation" novalidate>
						<div class="crumina-module crumina-heading with-title-decoration">
							<h5 class="heading-title">Form</h5>
						</div>

						<div class="row">
							<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">First Name</label>
									<input class="form-control" type="text" placeholder="" value="" required>
									<span class="invalid-feedback">
										<span class="error-box">
											First Name is required
										</span>
									</span>
								</div>
							</div>
							<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Last Name</label>
									<input class="form-control" type="text" placeholder="" value="Spiegel" required>
									<span class="invalid-feedback">
										<span class="error-box">
											Last Name is required
										</span>
									</span>
								</div>
							</div>
							<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Email</label>
									<input class="form-control" type="email" placeholder="" value="jspiegel@yourmail.com" required>
									<span class="invalid-feedback">
										<span class="error-box">
											Email is required
										</span>
									</span>
								</div>
							</div>
							<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="form-group">
									<input class="form-control" type="tel" placeholder="Phone Number" required>
									<span class="invalid-feedback">
										<span class="error-box">
											Phone Number is required
										</span>
									</span>
								</div>
							</div>

							<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">Select your Country</label>
									<select class="selectpicker form-control">
										<option value="US">United States</option>
										<option value="AR">Argentina</option>
									</select>
								</div>
							</div>
							<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">Select Your State</label>
									<select class="selectpicker form-control">
										<option value="CA">California</option>
										<option value="AR">Arizona</option>
									</select>
								</div>
							</div>
							<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="form-group">
									<input class="form-control" placeholder="Zip Code" type="text" required>
									<span class="invalid-feedback">
										<span class="error-box">
											Zip Code is required
										</span>
									</span>
								</div>
							</div>

							<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Your Address</label>
									<input class="form-control" type="text" placeholder="" required>
									<span class="invalid-feedback">
										<span class="error-box">
											Your Address is required
										</span>
									</span>
								</div>

								<div class="form-group label-floating">
									<label class="control-label">Apartment Number / Suite</label>
									<input class="form-control" type="text" placeholder="" required>
									<span class="invalid-feedback">
										<span class="error-box">
											Apartment Number / Suite is required
										</span>
									</span>
								</div>

								<div class="checkbox">
									<label>
										<input type="checkbox" name="optionsCheckboxes" required>
										Ship to a different address
										<span class="invalid-feedback">
											<span class="error-box">
												Different address is required
											</span>
										</span>
									</label>
								</div>

								<button class="btn btn-md btn-primary" type="submit">Submit form</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ...end Main Content -->

{{> back-to-top}}

{{> windows-popup/window-chat-responsive}}

<!-- JS Scripts -->
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/libs/jquery.appear.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/perfect-scrollbar.js"></script>
<script src="js/libs/jquery.matchHeight.js"></script>
<script src="js/libs/svgxuse.js"></script>
<script src="js/libs/imagesloaded.pkgd.js"></script>
<script src="js/libs/Headroom.js"></script>
<script src="js/libs/velocity.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/jquery.waypoints.js"></script>
<script src="js/libs/jquery.countTo.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/material.min.js"></script>
<script src="js/libs/bootstrap-select.js"></script>
<script src="js/libs/smooth-scroll.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/libs/swiper.jquery.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/daterangepicker.js"></script>
<script src="js/libs/fullcalendar.js"></script>
<script src="js/libs/isotope.pkgd.js"></script>
<script src="js/libs/ajax-pagination.js"></script>
<script src="js/libs/Chart.js"></script>
<script src="js/libs/chartjs-plugin-deferred.js"></script>
<script src="js/libs/circle-progress.js"></script>
<script src="js/libs/loader.js"></script>
<script src="js/libs/run-chart.js"></script>
<script src="js/libs/jquery.magnific-popup.js"></script>
<script src="js/libs/jquery.gifplayer.js"></script>
<script src="js/libs/mediaelement-and-player.js"></script>
<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="js/libs/ion.rangeSlider.js"></script>

<script src="js/main.js"></script>
<script src="js/libs-init/libs-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>