<!DOCTYPE html>
<html lang="en">
<head>

	<title>Music And Playlists</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

</head>

<body class="page-has-left-panels page-has-right-panels">

{{> preloaders/preloader-main }}

{{> headers-navigations/left-panel }}

{{> headers-navigations/left-panel-responsive }}

{{> headers-navigations/right-panel }}

{{> headers-navigations/right-panel-responsive }}

{{> headers-navigations/header-BP page-title="music & playlist" }}

{{> headers-navigations/header-BP-responsive }}

<div class="header-spacer header-spacer-small"></div>

{{> headers-navigations/main-header-music
	stunning-title="Listen and Share Music!"
	stunning-text="Here you’ll be able to manage your Spotify playlist widget and listen all the saved playlists from your
	 friends! Friends playlists will update when they update their Olympus playlists, that way you can build awesome playlists
	  to share with your friends every day and they will always be updated."
}}


<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-6 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Your Playlist Widget Settings</h6>
				</div>
				<div class="ui-block-content">


					{{> forms/form-music-playlist }}

					<p class="mt50">You are logged in to Spotify as <a href="#" class="c-green"> James Spiegel Spotify</a></p>

					<div class="row">
						<div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
							<a href="#" class="btn btn-secondary btn-lg full-width" data-toggle="modal" data-target="#faqs-popup">Link your Playlist FAQs</a>
						</div>
						<div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
							<a href="#" class="btn btn-green btn-lg full-width btn-icon-left"><i class="fab fa-spotify" aria-hidden="true"></i>
								Spotify Account Logout</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">My Spotify Playlist</h6>
					<a href="#" class="more">
						<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
					</a>
				</div>

				{{> widgets/w-playlist }}

			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">Your Saved Playlists</div>

					<div class="align-right">

						<a href="#" class="js-open-popup btn btn-md-2 btn-border-think custom-color c-grey" data-popup-target=".playlist-popup">Open the Music Player</a>

					</div>

					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Green Goo’s Playlist</h6>
					<a href="#" class="more">
							<span class="c-green">
								<svg class="olymp-remove-playlist-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"></use></svg>
							</span>
					</a>
				</div>

				{{> widgets/w-playlist }}

			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Green Goo’s Playlist</h6>
					<a href="#" class="more">
							<span data-toggle="tooltip" data-placement="top"   data-original-title="SAVE PLAYLIST">
								<svg class="olymp-save-playlist-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-save-playlist-icon"></use></svg>
							</span>
					</a>
				</div>
				{{> widgets/w-playlist-without-cover }}

			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Marina V’s Playlist</h6>
					<a href="#" class="more">
							<span class="c-green">
								<svg class="olymp-remove-playlist-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"></use></svg>
							</span>
					</a>
				</div>
				{{> widgets/w-playlist1 }}
			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Elaine D’s Playlist</h6>
					<a href="#" class="more">
							<span class="c-green">
								<svg class="olymp-remove-playlist-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"></use></svg>
							</span>
					</a>
				</div>

				{{> widgets/w-playlist2 }}

			</div>
		</div>
	</div>
</div>



{{> windows-popup/playlist-popup}}

{{> windows-popup/faqs-popup}}

{{> windows-popup/window-chat-responsive}}

{{> back-to-top}}


<!-- JS Scripts -->
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/libs/jquery.appear.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/perfect-scrollbar.js"></script>
<script src="js/libs/jquery.matchHeight.js"></script>
<script src="js/libs/svgxuse.js"></script>
<script src="js/libs/imagesloaded.pkgd.js"></script>
<script src="js/libs/Headroom.js"></script>
<script src="js/libs/velocity.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/jquery.waypoints.js"></script>
<script src="js/libs/jquery.countTo.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/material.min.js"></script>
<script src="js/libs/bootstrap-select.js"></script>
<script src="js/libs/smooth-scroll.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/libs/swiper.jquery.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/daterangepicker.js"></script>
<script src="js/libs/fullcalendar.js"></script>
<script src="js/libs/isotope.pkgd.js"></script>
<script src="js/libs/ajax-pagination.js"></script>
<script src="js/libs/Chart.js"></script>
<script src="js/libs/chartjs-plugin-deferred.js"></script>
<script src="js/libs/circle-progress.js"></script>
<script src="js/libs/loader.js"></script>
<script src="js/libs/run-chart.js"></script>
<script src="js/libs/jquery.magnific-popup.js"></script>
<script src="js/libs/jquery.gifplayer.js"></script>
<script src="js/libs/mediaelement-and-player.js"></script>
<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="js/libs/ion.rangeSlider.js"></script>

<script src="js/main.js"></script>
<script src="js/libs-init/libs-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>