<!DOCTYPE html>
<html lang="en">
<head>

	<title>Company Page - Home</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

</head>
<body class="body-bg-white">

{{> preloaders/preloader-main }}

<div class="main-header main-header-fullwidth main-header-has-header-standard">

	{{> headers-navigations/header-landing }}

	<div class="header-spacer--standard"></div>

	<div class="content-bg-wrap bg-landing"></div>

	<div class="container">
		<div class="row display-flex">
			<div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
				<div class="landing-content">
					<h1>The Most Complete Social Network is Here!</h1>
					<p>We are the best and biggest social network with 5 billion active users all around the world. Share you
						thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
					</p>
					<a href="#" class="btn btn-md btn-border c-white">Register Now!</a>
				</div>
			</div>

			<div class="col col-xl-5 ml-auto col-lg-6 col-md-12 col-sm-12 col-12">

				{{> forms/registration-login-form}}

			</div>
		</div>
	</div>

	<img class="img-bottom" src="img/group-bottom.png" alt="friends">
	<img class="img-rocket" src="img/rocket.png" alt="rocket">
</div>


{{> crumina-clients/clients}}

{{> animation-sections/img-scale-animation}}


<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<img src="img/icon-fly.png" alt="screen">
			</div>

			<div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading">
					<h2 class="heading-title">Why Join <span class="c-primary">Olympus Social Network</span>?</h2>
					<p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading">
					<h2 class="heading-title">Meet New People <span class="c-primary">all over the World</span></h2>
					<p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa.
					</p>
				</div>
			</div>

			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<img src="img/image1.png" alt="screen">
			</div>
		</div>
	</div>
</section>


<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<img src="img/image2.png" alt="screen">
			</div>

			<div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading">
					<h2 class="heading-title">The Best UI/UX and <span class="c-primary">Awesome Features</span></h2>
					<p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading">
					<h2 class="heading-title">Find People with <span class="c-primary">Your Same Interests</span></h2>
					<p class="heading-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa.
					</p>
				</div>
			</div>

			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<img src="img/image3.png" alt="screen">
			</div>
		</div>
	</div>
</section>


{{> animation-sections/planer-animation}}


<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<img src="img/image4.png" alt="screen">
			</div>

			<div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading">
					<h2 class="h1 heading-title">Release all the Power with the <span class="c-primary">Olympus App!</span></h2>
					<p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>

				{{> lists/list--styled}}

				<a href="#" class="btn btn-market">
					<img class="icon" src="svg-icons/apple-logotype.svg" alt="app store">
					<div class="text">
						<span class="sup-title">AVAILABLE ON THE</span>
						<span class="title">App Store</span>
					</div>
				</a>

				<a href="#" class="btn btn-market">
					<img class="icon" src="svg-icons/google-play.svg" alt="google">
					<div class="text">
						<span class="sup-title">ANDROID APP ON</span>
						<span class="title">Google Play</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

{{> animation-sections/subscribe-animation}}

<section class="medium-padding120">
	<div class="container">
		<div class="row mb60">
			<div class="col col-xl-4 col-lg-4 m-auto col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading align-center">
					<div class="heading-sup-title">OLYMPUS BLOG</div>
					<h2 class="h1 heading-title">Latest News</h2>
					<p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> posts/posts-1}}

			</div>
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> posts/posts-2}}

			</div>
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

				{{> posts/posts-3}}

			</div>
		</div>
	</div>
</section>

{{> animation-sections/call-to-action-animation}}

{{> windows-popup/registration-login-form-popup}}

{{> windows-popup/restore-password}}

{{> windows-popup/main-search-popup}}

{{> footers/footer-full-width}}


{{> windows-popup/window-chat-responsive}}

{{> back-to-top}}


<!-- JS Scripts -->
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/libs/jquery.appear.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/perfect-scrollbar.js"></script>
<script src="js/libs/jquery.matchHeight.js"></script>
<script src="js/libs/svgxuse.js"></script>
<script src="js/libs/imagesloaded.pkgd.js"></script>
<script src="js/libs/Headroom.js"></script>
<script src="js/libs/velocity.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/jquery.waypoints.js"></script>
<script src="js/libs/jquery.countTo.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/material.min.js"></script>
<script src="js/libs/bootstrap-select.js"></script>
<script src="js/libs/smooth-scroll.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/libs/swiper.jquery.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/daterangepicker.js"></script>
<script src="js/libs/fullcalendar.js"></script>
<script src="js/libs/isotope.pkgd.js"></script>
<script src="js/libs/ajax-pagination.js"></script>
<script src="js/libs/Chart.js"></script>
<script src="js/libs/chartjs-plugin-deferred.js"></script>
<script src="js/libs/circle-progress.js"></script>
<script src="js/libs/loader.js"></script>
<script src="js/libs/run-chart.js"></script>
<script src="js/libs/jquery.magnific-popup.js"></script>
<script src="js/libs/jquery.gifplayer.js"></script>
<script src="js/libs/mediaelement-and-player.js"></script>
<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="js/libs/ion.rangeSlider.js"></script>

<script src="js/main.js"></script>
<script src="js/libs-init/libs-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>