<!DOCTYPE html>
<html lang="en">
<head>

	<title>Theme Icons</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="js/libs/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">


</head>

<body>

{{> preloaders/preloader-main }}

{{> headers-navigations/main-header-landing}}


<div class="container">

	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center mb-5">
			<h3>Theme Icons</h3>
		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-arrow"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-arrow"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-trophy-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-trophy-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-weather-refresh-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-weather-refresh-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-popup-left-arrow"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-popup-left-arrow"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-popup-right-arrow"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-popup-right-arrow"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-register-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-register-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-login-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-login-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-calendar-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-small-calendar-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-post-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-share-post-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-open-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-open-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-close-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-accordion-close-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-save-playlist-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-save-playlist-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-cupcake-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-weather-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-weather-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-star-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-headphones-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-headphones-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-add-a-place-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-check-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-check-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-albums-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-albums-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-photos-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-photos-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-day-calendar-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-day-calendar-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-week-calendar-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-week-calendar-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-checked-calendar-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-checked-calendar-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-multimedia-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-multimedia-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-v2-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-v2-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>

		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-logout-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-blog-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-status-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-status-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-manage-widgets-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-badge-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-badge-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-newsfeed-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-newsfeed-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>

			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-faces-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-thunder-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-home-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-home-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-info-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-info-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons.svg#olymp-thunder-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>

			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-fullscreen-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-fullscreen-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-minimize-screen-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-minimize-screen-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-next-song-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-next-song-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-no-sound-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-no-sound-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-open-playlist-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-open-playlist-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-pause-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-pause-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-previous-song-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-previous-song-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-repeat-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-repeat-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-shuffle-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-shuffle-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-sound-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-sound-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-video-settings-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-music.svg#olymp-music-video-settings-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-cloudy-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-cloudy-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-partly-sunny-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-partly-sunny-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-rain-drops-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-rain-drops-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-rain-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-rain-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-snow-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-snow-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-storm-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-storm-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-strong-winds-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-strong-winds-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-sunny-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-sunny-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-thermometer-icon"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-thermometer-icon"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
			<div class="icon-demonstration">
				<svg><use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-wind-icon-header"></use></svg>
				<pre><code>&lt;svg&gt;&lt;use xlink:href="svg-icons/sprites/icons-weather.svg#olymp-weather-wind-icon-header"&gt;&lt;/use&gt;&lt;/svg&gt;</code></pre>
			</div>
		</div>


	</div>
</div>


{{> back-to-top}}

{{> windows-popup/main-search-popup}}


<!-- JS Scripts -->
<script src="js/jQuery/jquery-3.4.1.js"></script>
<script src="js/libs/jquery.appear.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/perfect-scrollbar.js"></script>
<script src="js/libs/jquery.matchHeight.js"></script>
<script src="js/libs/svgxuse.js"></script>
<script src="js/libs/imagesloaded.pkgd.js"></script>
<script src="js/libs/Headroom.js"></script>
<script src="js/libs/velocity.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/jquery.waypoints.js"></script>
<script src="js/libs/jquery.countTo.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/material.min.js"></script>
<script src="js/libs/bootstrap-select.js"></script>
<script src="js/libs/smooth-scroll.js"></script>
<script src="js/libs/selectize.js"></script>
<script src="js/libs/swiper.jquery.js"></script>
<script src="js/libs/moment.js"></script>
<script src="js/libs/daterangepicker.js"></script>
<script src="js/libs/fullcalendar.js"></script>
<script src="js/libs/isotope.pkgd.js"></script>
<script src="js/libs/ajax-pagination.js"></script>
<script src="js/libs/Chart.js"></script>
<script src="js/libs/chartjs-plugin-deferred.js"></script>
<script src="js/libs/circle-progress.js"></script>
<script src="js/libs/loader.js"></script>
<script src="js/libs/run-chart.js"></script>
<script src="js/libs/jquery.magnific-popup.js"></script>
<script src="js/libs/jquery.gifplayer.js"></script>
<script src="js/libs/mediaelement-and-player.js"></script>
<script src="js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="js/libs/ion.rangeSlider.js"></script>
<script src="js/libs/lazyload.js"></script>
<script type="text/javascript">
	var pageLazyLoad = new LazyLoad({
		elements_selector: "[loading=lazy]",
		use_native: true // ← enables hybrid lazy loading
	});

	window.lazyLoadOptions = {
		elements_selector: "[loading=lazy]",
		use_native: true // ← enables hybrid lazy loading
	};
</script>

<script src="js/main.js"></script>
<script src="js/libs-init/libs-init.js"></script>
<script defer src="fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>