<div class="ui-block">

	{{> posts/posts2-BP}}

</div>

<div class="ui-block">

	{{> posts/posts3-BP}}

</div>

<div class="ui-block">

	{{> posts/posts3-BP}}

</div>

<div class="ui-block">

	{{> posts/posts4-BP}}

</div>