<!DOCTYPE html>
<html lang="en">
<head>
	<title>Posts Load More</title>
</head>
<body>

<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
	<div class="ui-block">

		{{> posts/postsV1-1}}

	</div>
</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
	<div class="ui-block">

		{{> posts/postsV1-2}}

	</div>
</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
	<div class="ui-block">

		{{> posts/postsV1-3}}

	</div>
</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
	<div class="ui-block">

		{{> posts/postsV1-4}}

	</div>
</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item">
	<div class="ui-block">

		{{> posts/postsV1-5}}

	</div>
</div>

</body>
</html>