<!DOCTYPE html>
<html lang="en">
<head>
	<title>Posts Load More</title>
</head>
<body>

<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs">

	{{> shop/shop-product-item1-V2}}

</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item clothing">

	{{> shop/shop-product-item2-V2}}

</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item accesories">

	{{> shop/shop-product-item3-V2}}

</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item clothing">

	{{> shop/shop-product-item4-V2}}

</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item accesories">

	{{> shop/shop-product-item5-V2}}

</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs">

	{{> shop/shop-product-item6-V2}}

</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs">

	{{> shop/shop-product-item7-V2}}

</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item accesories">

	{{> shop/shop-product-item8-V2}}

</div>
<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item clothing">

	{{> shop/shop-product-item9-V2}}

</div>

</body>
</html>