<div class="ui-block">

	{{> search-results/search-result1}}

</div>

<div class="ui-block">

	{{> search-results/search-result2}}

</div>

<div class="ui-block">

	{{> search-results/search-result3}}

</div>
